<div>
  <div class="my-3">
    <%= @movie.title  %>
  </div>
  <div class="my-3">
    <%= @movie.release_year%>
  </div>
  <div class="my-3">
    <%= @movie.synopsis%>
  </div>
  <div class="my-3">
    <%= @movie.country %>
  </div>
  <div class="my-3">
    <%= @movie.duration_in_minutes %>
  </div>
  <div class="my-3">
    <%= @movie.director.name %>
  </div>
  <div class="my-3">
    <%= @movie.movie_genre.name %>
  </div>
</div>
   
