<div class="mx-4">
  <div class="my-3">
    <%= @director.name %>
  </div>
    <div class="my-3">
    <%= @director.nationality %>
  </div>
    <div class="my-3">
    <%= @director.birthdate %>
  </div>
  <div class="my-3">
    <%= @director.favorite_genre.name%>
  </div>
</div>

<% if @list_movies.blank? %>
  <div>Esse Diretor não dirigiu nenhum filme</div>
<% else %>
  <h3>Lista de Filmes</h3>
  <% @list_movies.each do |movie| %>
    <div>
      <%= link_to "#{movie.title} - #{movie.release_year}", movie %>
    </div>
  <% end %>
<% end %>
